extends layout

block content	
	h4 Chilli farm overview

	table.table.table-striped.table-responsive
		tbody
			tr
				td Temperature
				td #{temp0} °C
			tr
				td Light
				td #{lightState}
			tr
				td Last Update
				td #{lastUpdate}
			tr
				td System
				td #{sysUpTime} (#{sysTemp0} °C)
	
	img.img-responsive(src="img/latestPhoto.jpg")
